<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.local.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath:app/db/dataBaseContext.xml" />
	<import resource="classpath:app/services/servicesContext.xml" />
	<import resource="classpath:app/viewer/viewerContext.xml" />
	<import resource="classpath:app/commonContext.xml" />

	<bean class="es.viewerfree.gwt.server.initialize.InitializeDB">
		<property name="userService" ref="service.user"/>
	</bean>
</beans>