/** Add css rules here for your application. */
.footerPanel a {
	color: #8C8C73;
	text-decoration: none;
}

.footerPanel a:hover {
	color: #8C8C73;
	text-decoration: underline;
}

.footerPanel a:visited {
	color: #8C8C73;
}

.headerPanel {
	background: #FFA64D;
	width: 100%;
	border-bottom: 1px solid #FF8000;
	padding-left: 10%;
}

.footerPanel {
	background-image: url("images/footer.gif");
	width: 100%;
	color: #A8A88D;
	position: absolute;
	text-align: center;
	bottom: 0px;
	padding-left: 5%
}

.title {
	color: white;
	font-size: 38px;
	font-weight: bold;
	font-family: Comic Sans MS;
	vertical-align: bottom;
}

.titleBy {
	color: white;
	font-size: 12px;
	font-weight: normal;
	font-family: Comic Sans MS;
	vertical-align: bottom
}

.toDay {
	padding-right: 10%;
	color: #CC6600;
	font-size: 15px;
	font-weight: bolder;
	font-family: Comic Sans MS;
	width: 100%;
}

.flag {
	padding-left: 15px;
}

.loginPanel {
	
}

.loginPanel .left {
	padding-left: 35%;
	padding-top: 50px
}

.loginPanel .title {
	color: #FF8000;
	font-family: Comic Sans MS;
	font-size: 22px;
	font-weight: bold;
}

.loginPanel .subtitle {
	font-family: Comic Sans MS;
	font-size: 16px;
	padding-bottom: 15px;
}

.loginPanel .content {
	font-family: Comic Sans MS;
	font-size: 13px;
	max-width: 500px;
}

.loginPanel .info {
	font-family: Comic Sans MS;
	font-size: 13px;
	max-width: 500px;
	color: #CC6600;
	font-weight: bold;
}

.loginPanel ul {
	font-family: Comic Sans MS;
	font-size: 13px;
}

.loginPanel li {
	padding-bottom: 15px;
	max-width: 450px;
}

.loginForm {
	border: 1px solid #AFAFA4;
	padding: 20px;
	width: 450px;
	height: 250px;
	font-family: Comic Sans MS;
	font-size: 13px;
	font-weight: bold;
	background: none repeat scroll 0 0 #F5F5F4;
}

.loginForm input {
	border: 1px solid #AFAFA4;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	margin: 5px 0 5px 8px;
	vertical-align: middle;
}

.loginForm td {
	font-family: Comic Sans MS;
	font-size: 15px;
}

.loginForm button {
	border: 1px solid #CC6600;
	background: #FF8000;
	border: 1px solid #CC6600;
	color: white;
	font-family: Comic Sans MS;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: auto;
}

.loginForm button:hover {
	border: 1px solid #FFB366;
}

.loginForm input:hover {
	border: 1px solid #8A8A7B;
}

.loginForm input:focus {
	border: 1px solid #FF8000;
}

.error {
	font-family: Comic Sans MS;
	color: red;
}

.warning {
	background: none repeat scroll 0 0 #FFCC99;
	font-family: Comic Sans MS;
	width: 50%;
	padding: 2px;
	border: 1px solid #CC6600;
	color: #CC6600;
	font-weight: bold;
	font-size: 12px;
}

.errorDialog {
	max-width: 300px;
	padding: 30px;
}

.barPanel {
	background: none repeat scroll 0 0 black;
	padding-right: 25px;
	width: 100%;
}

.barLink {
	color: #A8A88D;
	cursor: pointer;
	padding: 5px 10px;
	text-align: right;
}

.barLink:hover {
	background: #3D3D2F;
}

.barLabel {
	color: #A8A88D;
	padding: 5px 10px;
	text-align: right;
	border-right: 1px solid #A8A88D;
}

.gwt-SplitLayoutPanel-HDragger {
	background: #A8A88D url("images/splitHbar.png") repeat-y;
	cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
	background: none repeat scroll 0 0 #E0E0D7;
	cursor: row-resize;
}

.albums {
	height: 100%;
	background-color: #FFF3E5;
}

.pictures {
	padding-left: 40px;
	padding-top: 10px;
	background-color: #FFF3E5;
}

.pictures img {
	cursor: pointer;
}

.pictures .label {
	font-weight: bold;
	text-align: center;
}

.gwt-DisclosurePanel {
	
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-DisclosurePanel .header,.gwt-DisclosurePanel .header a,.gwt-DisclosurePanel .header td
	{
	text-decoration: none; /* Remove underline from header */
	color: black;
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-family: arial,sans-serif;
}

.gwt-DisclosurePanel .content {
	border-left: 3px solid #FF8000;
	padding: 4px 0px 4px 8px;
	margin-left: 22px;
}

.gwt-DisclosurePanel .gwt-HTML {
	padding-bottom: 2px;
	padding-top: 2px;
	cursor: pointer;
	font-family: arial,sans-serif;
}

.gwt-DisclosurePanel .gwt-HTML:hover {
	background: #FFDBB3;
}

.gwt-DisclosurePanel .gwt-HTML img {
	padding-right: 8px;
	padding-bottom: 4px;
	vertical-align: middle
}

.gwt-DisclosurePanel .selectedFolder {
	padding-bottom: 2px;
	padding-top: 2px;
	cursor: pointer;
	font-weight: bolder;
	font-family: arial,sans-serif;
}

.gwt-DisclosurePanel .selectedFolder:hover {
	background: #FFDBB3;
}

.gwt-DisclosurePanel .selectedFolder img {
	padding-right: 8px;
	padding-bottom: 4px;
	vertical-align: middle
}

.pictures .gwt-HTML {
	display: inline-table;
	padding-right: 65px;
}

.pictures .image {
	display: inline-table;
	padding: 15px 18px;
	vertical-align: middle;
}

.image img {
	border: 1px solid #A8A88D;
}

.image img:hover {
	box-shadow: 0 0 10px black;
}

.titlePanel{
	background-color: #FFF3E5;
}

.titlePanel .titleAlbum {
	font-size: 20px;
	font-weight: bold;
	font-family: arial,sans-serif;
	padding-left: 25px;
	padding-top: 20px;
	border-bottom: 1px solid #FF8000;
	text-shadow: 2px 2px 3px #6374AB;
}

.gwt-PopupPanel {
    background: none repeat scroll 0 0 black;
    border: 2px solid #FFA64D;
    padding: 2px;
}