<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
  		</listener-class>
	</listener>
	<listener>
          <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:context/ApplicationContext.xml</param-value>
	</context-param>

	<!-- Servlets -->

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/Main/springGwtServices/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/Viewer/springGwtServices/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/Admin/springGwtServices/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>imageService</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageService</servlet-name>
        <url-pattern>/imageService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>uploadFileService</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFileService</servlet-name>
        <url-pattern>/uploadFileService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>logoutService</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutService</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>backupService</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>backupService</servlet-name>
        <url-pattern>/backupService</url-pattern>
    </servlet-mapping>
	


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Main.html</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>login</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/Viewer/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/Viewer.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/Admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/Admin.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/uploadFileService</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/imageService</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/backupService</url-pattern>
	</filter-mapping>

</web-app>
